<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Book of id: {{myID}}</h1>
    <ul>
        <li><b>Title:</b> {{title}}</li>
        <li><b>Author:</b> {{authorName}}</li>
        <li><b>Language:</b> {{language}}</li>
        <li><b>Publication year:</b> {{publicationYear}}</li>
        <li><b>Isbn/Issn:</b> {{isbnissn}}</li>
    </ul>
</body>
</html>